/*epic css*/
html {
    --background: #fff;
    --foreground: #000;
    --table-border: #888;
    --table-header: #ccc;
    --link: #06f;
    --english: #000;
    --peejosa: #6A2B47;
    --foreground: var(--english);
}
@media (prefers-color-scheme: dark) {
    html {
        --background: #111;
        --foreground: #fff;
        --table-border: #888;
        --table-header: #333;
        --link: #09f;
        --english: #fff;
        --peejosa: #E8E18D;
        --foreground: var(--english);
    }
}
body {
    margin: auto;
    font-size: 18px;
    font-family: sans-serif;
    padding: 20px;
    background-color: var(--background);
    color: var(--foreground)
}
body.small {
    max-width: 800px;
}

[lang = qpj] {--foreground: var(--peejosa); color: var(--foreground)}
[lang = en]  {--foreground: var(--english); color: var(--foreground)}
a {
    color: var(--link);
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
}
table {
    width: max-content;
    border-collapse: collapse;
    text-align: center;
}
.scrollable {
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.scrollable::-webkit-scrollbar {
    display: none;
}
td,
th {
    border: 1px solid var(--table-border);
    padding: 0px 10px;
}
th {
    background-color: var(--table-header);
}
.noborder {
    border: 0px
}
ul.padded li {
    padding-bottom: 5px;
}
input, button, textarea {
    font: inherit;
    background-color: var(--background);
    border: solid 1px var(--table-border);
    color: var(--foreground);
}
button:hover {
    cursor: pointer;
}
input.short {
    width: 4em;
}