/*epic css*/
body {
    margin: auto;
    max-width: 800px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 20px;
}

a {
    color: #0060FF;
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}
table {
    width: auto;
    border-collapse: collapse;
    text-align: center;
}
.scrollable {
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.scrollable::-webkit-scrollbar {
    display: none;
}

td,
th {
    border: 1px solid darkgray;
    padding: 0px 10px;
}

th {
    background-color: gainsboro;
}

.noborder {
    border: 0px
}

ul.padded li {
    padding-bottom: 5px;
}