/*epic css*/
body {
    margin: auto;
    max-width: 800px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 20px;
}

a {
    color: #0080FF;
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}
table {
    width: auto;
    border-collapse: collapse;
    text-align: center;
}

td,
th {
    border: 1px solid darkgray;
    padding: 0px 10px;
}

th {
    background-color: gainsboro;
}

.noborder {
    border: 0px
}
